@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #111827;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar {
  background-color: #1f2937;
  padding: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navBar ul {
  list-style: none;
  display: flex;
  padding: 10px;
  gap: 1rem;
}

#navBar li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

#navBar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

#navBar ul li a:hover {
  color: #09f;
  transition: 0.4s;
}

.navlinks {
  margin-right: 5rem;
}

.ProfilePic {
  margin-right: 10px;
  margin-left: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProfilePic img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

h1 {
  color: #0099ff;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 4rem;
  margin-left: 5rem;
}

h1 span:hover {
  color: #fff;
  transition: 0.4s ease;
}

.description {
  width: 42%;
  color: #fff;
  word-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-left: 5rem;
}

.socialButtons {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.githubBtn {
  font-size: 12px;
  font-weight: 600;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  background-color: #09f;
  border-color: #09f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.githubBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s ease;
}

.githubBtn-link {
  text-decoration: none;
}

.githubBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.linkedInBtn {
  font-size: 12px;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color: #09f;
  border-color: #09f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.linkedInBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s ease;
}

.linkedInBtn-link {
  text-decoration: none;
}

.linkedInBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #fff;
}

.contactBtn{
  font-size: 12px;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color: #09f;
  border-color: #09f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s ease;
}

.contactBtn-link {
  text-decoration: none;
}

.contactBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #fff;
}

.ttlSection {
  color: #09f;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

#skills {
  color: #fff;
}

.skillsSection {
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  width: 42%;
}

.cards {
  display: flex;
  flex-wrap: wrap !important;
  gap: 1rem;
  margin-top: 1rem;
}

.cards p {
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  color: #fff;
  min-width: 50px;
  flex: 1 1 calc(20% - 0.5rem);
  font-weight: 600;
  margin-top: 1mm;
}

.cards p:hover {
  transition: 0.3s ease;
  background-color: #fff;
  color: #09f;
  transition: 0.4s;
  cursor: pointer;
}
