@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #111827;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar {
  background-color: #1f2937;
  padding: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navBar ul {
  list-style: none;
  display: flex;
  padding: 10px;
}

#navBar li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

#navBar a {
  text-decoration: none;
  color: #fff;
}

#navBar ul li a:hover{
  color: #09f;
  transition: 0.4s;
}

.ProfilePic {
  margin-right: 10px;
  margin-left: 2rem;
}

.ProfilePic img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

h1 {
  color: #09f;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 4rem;
  margin-left: 2rem;
}

.description {
  width: 45rem;
  color: #fff;
  word-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-left: 2rem;
}

.socialButtons {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.githubBtn {
  font-size: 12px;
  font-weight: 600;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  background-color: #09f;
  border-color: #09f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.githubBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s;
}

.githubBtn-link {
  text-decoration: none !important;
}

.githubBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.linkedInBtn {
  font-size: 12px;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color: #000;
  border-color: #09f;
  color: #09f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.linkedInBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s;
}

.linkedInBtn-link {
  text-decoration: none !important;
}

.linkedInBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #fff;
}

.cvBtn{
  font-size: 12px;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color: #f60;
  border-color: #f60;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cvBtn:hover {
  background-color: #fff;
  color: #09f;
  border-color: #e6f5ff;
  transition: 0.4s;
}

.cvBtn-link {
  text-decoration: none !important;
}

.cvBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #fff;
}

.ttlSection {
  color: #09f;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 4rem;
  margin-left: 2rem;
}

#skills {
  margin-top: 4rem;
  color: #fff;
}

#skills ul{
  list-style: none;
  padding-left: 2rem;
}

.skillsSection{
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  justify-content: stretch;
  width: 50%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
}

.cards p{
  background-color: #1F2937;
  padding: .5rem 1rem;
  border-radius: 5px;
}